*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 62.5%;
	scrollbar-width: none;
}

html::-webkit-scrollbar {
	display: none;
}

body {
	min-height: 100%;
	font-family: 'Studio Feixen Sans';
	font-size: 1.6rem;
	position: relative;
}

.app {
	position: absolute;
	inset: 0;
	overflow: hidden;
	scrollbar-width: none;
}
